{% extends "base.html" %}
{% block title %}Панель управления Febest{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <h2>Febest</h2>

      <div class="table-responsive">
        <table class="table table-sm">
          <tbody>
            <tr>
              <td><button type="button" class="btn btn-light btn-sm"><a href="/view_categories/{{ shop_name }}">Просмотр категорий</a></button></td>
            </tr>
            <tr>
              <td><button type="button" class="btn btn-light btn-sm"><a href="/edit_categories/{{ shop_name }}">Редактировать категории</a></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
{% endblock %}
